*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.carousel_wrapper{
  height: 100vh;
  background-color: green;
  display: flex;
}
.carousel{
  height: 300px;
  width: 500px;
  background-color: yellow;
  margin: auto;
}
